body{
	font-family: 'Montserrat', sans-serif;
	color: white;
	background-color: black;
	font-weight: 100;
	user-select: none;
}
.b:disabled{
	background-color: rgb(255, 255, 255);
	color: black;
}
.X{
	color: green;
	font-weight: bolder;
}
.O{
	color: green;
	font-weight: bolder;
}
.won{
	color: goldenrod;
	font-weight: bolder;
}
.board{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-gap:10px;
	width: 200px;
	height: 200px;
	margin: 0 auto 0 auto;
}

.b{
	height:60px;
	width: 60px;
	padding: 0;
	color: black;
	border-radius: 10%;
	background-color: rgb(255, 255, 255);
}

.reset, .play-with{
	border: 1px solid white;
	border-radius: 10px;
	width: 200px;
	margin: 0 auto 0 auto;
}

.output{
	font-size: 25px;
}

.container{
	text-align: center;
	width: 50vh;
	height: auto;
	margin: 2% auto 0 auto;
	align-items: center;
}
.container div{
	margin-bottom: 20px;
}

.buttons-wrap {
	display: flex; 
	flex-direction: column;
	gap: 1vh;
}

@media(max-width: 1200px){
	.container{
		margin-top: 20em;
		transform: scale(2.0);
	}
	
	.container div{
		margin-bottom: 2em;
		margin-right: auto;
		margin-left: auto;
	}
}